*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
}

header{
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: white;
    z-index: 10;
    margin: auto;
}
.logo img{
    width: 100px;
    height: 100px;
}
.menu ul{
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 20px;
    font-weight: 600;
}
.menu a{
    text-decoration: none;
    color: #79171d;
}

.buttan a{
    text-decoration: none;
    color: #79171d;
    font-size: 20px;
    font-weight: 600;
    border: solid 2px #79171d;
    padding: 10px 20px;
}


/* .section1***************************************************************** */


 .section1{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 6;
  margin: auto;
  justify-content: center;
  display: flex;
  
}
.maincontant{
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 40px;
    z-index: 9;
    color: white;
    text-align: center;
}
.signetureheding h1{
    font-size: 88px;
    line-height: 78px;
    font-weight: 800;
    text-transform: uppercase;
}
.signetureheding h2{
    font-family: Allura;
    font-size: 70px;
    color: #FFC547;
}
.buttanS a{
    text-decoration: none;
    color: #79171d;
    font-size: 20px;
    font-weight: 600;
    background-color: #FFC547;
    padding: 10px 20px;
}
.buttanS a:hover{
    text-decoration: none;
    color: #FFC547 ;
    font-size: 20px;
    font-weight: 600;
    background-color:  #79171d;
    padding: 10px 20px;
}


.boox{
    width: 100%;
    height: 80%;
    background-color: #E9DBCC;
    position: absolute;
    z-index: -1;
    bottom: -230px;
}



/* section2*********************************************************** */
.section2{
    background-color: #E9DBCC;
    width: 100%;
    height: 100%;
    padding: 20px 0;
    
}
.mainbest{
    background-color: #E9DBCC;
}
.main1{
    display: flex;
    width: 95%;
    margin: auto;
    padding: 20px 40px;
    margin: 35px;
    border: solid 1px #79171d;
    align-items: top;
}
.unique{
    display: flex;
    flex-direction: column;
    gap: 48px;
}
.unique span{
    color: #79171D;
}
.unique h2{
    font-size: 45px;
    line-height: 50px;
    font-weight: 900;
    letter-spacing: 1px;
    line-height: 60px;
}
.unique img{
    max-width: 30%;
    height: auto;
}
.unique p{
    color: #7C756C;
    font-weight: 500;
}

/* .mainimgage************************************ */


.mainimgage{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background-color: #E9DBCC;
    margin-top: 60px;
}
.boooo{
    width: 100%;
    height: 20%;
    background-color: #E9DBCC;
    z-index: -1 ;
    position: absolute;
    
}

.imgss img{
    width: 600px;
    height: auto;
    object-fit: contain;

}
.img{

    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: start;
}
.imgs{
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: end;
}
.smallimg h1{
    margin-bottom: 4px;
    color: #363332;
    font-size: 25px;
    line-height: 30px;
    font-weight: 900;

}
.mainbest{
    text-align: center;
}
.burger1 h1{
    font-size: 45px;
    line-height: 50px;
    font-weight: 900;
    letter-spacing: 1px;
    color: #363332;
}
.burger1 p{
    color: #79171d;
    font-weight: 500;
}
.burger1 span{
    color: #79171d;
}



/* .main4**************************** */

.main4{
    /* background-color: #79171d; */
    background-image: url(final.png);
    width: 100%;
    padding: 10px;
}
.image1 img{
    width: 300px;
    height: 300px;
    object-fit: contain;

}
.left1{
    width: 40%;
    border: 1px #E9DBCC solid;
    height: 0.5px;
    border-style: dotted ;
}
.right1{
    width: 40%;
    border: 1px #E9DBCC solid;
    height: 0.5px;
    border-style: dotted;
}
.maindotet{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.main4{
    text-align: center;
}



.doted1{
    border: 1px #B2787C solid;
    height: 0.5px;
    border-style: dotted;
}

.Classic{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 295px;
    color: white;
    font-size: 12px;
}
.class{
    display: flex;
    color: #B2787C;
    margin-top: 8px;
}

.main5{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.main6{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.maindoted{
    display: flex;
    justify-content: space-between;
    padding: 40px;
   
}

.burgerheading{
    background-color: #FFC547;
    margin: auto ;
    width: 260px;
    margin-bottom: 50px;
    font-size: 30px;
    font-weight: 900;
}
.mainboximage{
    display: flex;
    justify-content: space-between;
    padding:  50px ;
    gap: 40px;
    margin: auto;
    
}
.boximage{
    background-color: #FFC547;
    color: #79171d;
    width: 550px;
    height: auto;
    text-align: center;
    padding-top: 40px;
    
}
.boximage h2{
    font-size: 40px;
    font-weight: 900;
    line-height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.boximage img{
    width: 100%;
    object-fit: contain;
    height: 80%;
}
.chotiimage{
    width: 50px;
    margin: auto;
}

.boximage1{
    background-color: white;
    color: #79171d;
    width: 550px;
    height: auto;
    text-align: center;
    padding-top: 40px;

}
.boximage1 h2{
    font-size: 40px;
    font-weight: 900;
    line-height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.boximage1 img{
    width: 100%;
    object-fit: contain;
    height: 80%;
}
.main4{
    position: relative;
    padding-bottom: 400px;
    
 
}
.mainboximage{
    position: absolute;
    top: 1200px;
    /* left: 60px; */  
}

.customers{
    background-color: #E9DBCC;
    padding-top: 470px;
    text-align: center;
    color: #79171d;
    
}
.customersreview h1{
    color: #363332;
    font-size: 43px;
    font-weight: 900;
    line-height: 55px;
}
.customersreview span{
    color: #79171d;
}
.bedelavry p{
    font-weight: 600;
    margin-bottom: 15px;
}
.chotiimage2{
    margin-bottom: 15px;
}
.maincostomer{
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.costomersphoto{
    width: 30%;
    display: flex;
    flex-direction: column;
     gap: 25px;
}
.costomersphoto img{
    width: 100px;
    margin: auto;
    border: 10px solid #054F48;
    border-radius: 100px; 
}

.costomersphoto p{
    color: #363332;
}
.costomersphoto h4{
    color: #363332;
}

.maintastes{
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
    padding: 40px;
    /* align-items: top; */
    padding-bottom: 100px;
    
    position: relative;
}

.tastes h1{
    font-size: 50px;
    text-align: left;
    font-weight: 800;
    line-height: 60px;
    color: #363332;
}
.tastes span{
    color: #79171d;
}



.imagtastes{
    width: 600px;
    height: 600px;
    position: absolute;
    top: -40px;
    left: 650px;
}
.imagtastes img{
    width: 100%;
}


.main200k{
    display: flex;
    margin-top: 70px;
    padding: 0 40px;
}

.dui{
    width: 260px;
    color: #363332;
}
.dui p{
    font-weight: 500;
}
.dui h1{
    font-weight: 800;
}



.mainlocations{
    display: flex;
    margin-top: 150px;
    padding: 40px;
    justify-content: space-between;
}

.imagelocations{
   width: 60%;
   height: 60%;
}
.imagelocations img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.headinglocations{
    width: 400px;
    height: 200px;
}
.headinglocations h1{
    /* font-size:38px; */
    font-size: 44px;
    line-height: 50px;
    font-weight: 900;
    letter-spacing: -1px;
    
}
.headinglocations span{
    color: #79171d;
}
.headinglocations p{
    font-weight: 600;
    color: #79171D;
}

.perents{
    display: flex;
    justify-content: center;
    padding: 40px;
    gap: 170px;
}
.oneone{
    display: flex;
    gap: 170px;
}
.twotwo{
    display: flex;
    gap: 170px;
}

.childs{
    text-align: center;
}
.childs h1{
    font-size: 34px;
    line-height: 41px;
    font-weight: 800;
    color: #79171D;
}

.childs p{
    color: #363332;
    font-size: 20px;
    line-height: 26px;
    font-weight: 400;
}

footer{
    background-image: url(final\ bg.png);
    width: 100%;
    /* background-color: #79171D; */
    background-repeat: no-repeat;
    /* background-position: center; */
    padding: 150px 40px 40px 40px;
    margin-top: 60px;
}
.mainhungry{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mainhungry h1{
    font-size: 43px;
    line-height: 54px;
    font-weight: 900;
    letter-spacing: -1px;
    
}
.imagehungry{
   width: 50%;
   height: auto;
}
.imagehungry img{
    width: 100%;
}
.buttanhungry{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    /* color: white; */
}
.haidinghungry{
    color: white;
}
.haidinghungry span{
    color: #FFC547;
}
.buttanhungry a{
    background-color: #FFC547;
    text-decoration: none;
    padding: 12px 25px;
    color: #79171D;
    font-size: 14px;
    font-weight: 600;

}
.buttanhungry p{
    font-weight: 800;
    font-size: 20px;
}
.signed p{
    margin-top: 30px;
    color: white;
    font-weight: 500;
}
.signed img{
    margin-top: 20px;
}

.burger-3logofooter{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
   
}

.bottamfooter{
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    margin-top: 40px;
    align-items: top;
    color: white;
    padding-bottom: 30px;
}

.bottam-a h2{
    font-size: 28px;
    line-height: 30px;

}
.bottam-a{
    display: flex;
    flex-direction: column;
    gap: 28px;
    position: relative;
}
.bottam-a span{
    color: #FFC547;

}
.bottam-a form input{
    padding: 8px 70px 8px 20px;
    background-color: #E9DBCC;
    color: #363332;
    border: #E9DBCC;
    font-size: 16px;
    font-weight: 500;
}

.bottam-a a{
    text-decoration: none;
    position: absolute;
    bottom: -50px;
    right: 0;
    color: white;
    font-weight: 600;
     padding: 10px 20px;
}

.bottam-a a:hover{
    background-color: #cf2e2e;
    padding: 8px 20px;
}
.bottam-b ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.bottam-b a{
    text-decoration: none;
    color: white;
    font-weight: 500;
}
.bottam-b a:hover{
  color: #FFC547;
}

.bottam-c{
    width: 200px;
    text-align: center;
    display: flex;
    flex-direction: row;
    gap: 20px;
   justify-content: end;
}
.bottam-c i{
    background-color: #E9DBCC;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    display: flex;
    color: #79171D;
    justify-content: center;
    align-items: center;
    font-size: 28px;
}
.bottam-c i:hover{
    background-color: #FFC547;
}

.enddiv{
    width: 98%;
    margin: auto;
    margin-top: 70px;
    border-top: solid #ffc54741 1px;
    text-align: center;
    padding: 40px 20px 10px 20px;
    color: white;
    font-weight: 500;
}







/* @media****************************************** */


@media (max-width: 767px){
    .menu ul{
        display: none;
    }
    video{
        width: 100%;
    }
    .signetureheding h1{
        font-size: 78px;
        line-height: 68px;
       
    }
    .signetureheding h2{
        padding: 0;
        font-size: 50px;
    }

    .maincontant{
        gap: 20px;
    }
    .main1{
        flex-direction: column;
        width: 95%;
        margin: auto;
        gap: 20px;
    }
    .mainimgage {
        flex-direction: column;
        padding: 0;
        align-items: left;
    }
    .unique h2{
        font-size: 34px;
        line-height: 38px;
        font-weight: 900;   
    }
    .img {
        flex-direction: row;
        gap: 100px;
        /* justify-content: center; */
         text-align: left
        
    }
    .imgs {
        flex-direction: row;
        gap: 100px;
        text-align: left;
        margin-bottom: 70px;
        
    
    }
    .img h4{
        font-size: 19px;
        line-height: 23px;
        font-weight: 700;
    }
    .burger1 h1{
        font-size: 34px;
        line-height: 38px;
        font-weight: 900;
    }

    .maindoted {
        flex-direction: column;
        gap: 40px;
    }
    .main4{
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 690px;
    }
    .mainboximage{
        flex-direction: column;
        top: 1660px;
        gap: 0;
        width: 100%;
        z-index: 1;
        left:0;
        align-items: center;
    }
    .boximage img{
        width: 100%;
    }
    .boximage pre{
        /* margin-bottom: 20px; */
        padding-bottom: 20px;
    }
    .customers {
        padding-top: 700px;
    }
    .customersreview h1{
        font-size: 34px;
        line-height: 38px;
        font-weight: 900;
       
    }
    .maincostomer{
        flex-direction: column;
        gap: 40px;
    }
    .costomersphoto {
        width: 100%;
    }
    .maintastes {
        flex-direction: column;
        /* margin-top: 550px; */
        margin: 0;
        padding: 0  40px;
    }

    .imagtastes{
        width: 100%;
        position: relative;
        left: -5px;
        top: 80px;   
        padding: 0;
       
    }

    .mainlocations{
        flex-direction: column;
        gap: 80px;
    }
    .imagelocations img{
        /* overflow: hidden; */
        width: 500px;
    }

    .headinglocations{
        width: 500px;

    }

    .headinglocations h1 {
        font-size: 30px;
        line-height: 38px;
        font-weight: 900;
        letter-spacing: 1px;
    }
    

    .perents {
        flex-direction: column;
        gap: 40px;
    }


    .oneone{
        display: flex;
        gap: 20px;
        flex-direction: row;
        justify-content: center;

    }
    .twotwo{
        display: flex;
        gap: 20px;
        flex-direction: row;
        justify-content: center;

    }

    .mainhungry {
        flex-direction: column;
        gap: 40px;
    }
    .imagehungry{
        width: 600px;
        height: 600px;
    }
    .Classic p{
        font-size: 18px;
        font-weight: 500;
    }

    .bottamfooter {
        flex-direction: column;
        gap: 80px;
        align-items: center;
    }
    .bottam-a{
        text-align: center;
    }
    .bottam-a a{
        position: absolute;
        left: 0;
    }
    .bottam-b{
        text-align: center;
    }
    .bottam-c{
        text-align: center;
    }
    footer{
        height: 100%;
        background-color: #79171D;
        padding: 20px 0;
    }

    .enddiv{
        text-align: center;
        color: #E9DBCC;
    }
    .mainhungry {
        text-align: center;
    }
}


@media (max-width: 625px){
    .boximage1{
        width: 350px;
    }
    .boximage{
        width: 350px;
    }
    .mainboximage{
        top: 1560px;
    }
    .main4{
        padding-bottom: 560px;
    }
    .Classic{
        gap: 100px;
    }
    .Classic h1{
        font-size: 18px;
        line-height: 23px;
        
    }
    .class p{
        font-size: 14px;
        font-weight: 500;
    }
    .imagehungry {
        width: 400px;
        height: 400px;
    }
    .imagehungry img{
        width: 100%;
    }
    .imgss img {
        width: 400px;
    }
    .img{
        gap: 20px;
        padding: 0 0 0 40px;
    }
    .imgs{
        gap: 20px;
        padding: 0 0 0 40px;
    }
    .imagelocations img{
        width: 400px;
    }
    .headinglocations{
        width: 400px;
    }
    .oneone{
        gap: 80px;
    }
    .twotwo{
        gap: 110px;
    }
}



@media (max-width: 580px){ 
    .class p{
        font-size: 8px;
        font-weight: 500;
    }

    .mainboximage{
        top: 1490px;
    }
    .unique h2 {
        font-size: 20px;
        line-height: 28px;
        font-weight: 900;
    }
    .unique{
        gap: 20px;
    }
    .tastes h1 {
        font-size: 36px;
        line-height: 48px;
    }
    .imagtastes {
        height: 100%;
    }
    .buttanhungry{
        font-size: 10px;
        padding: 20px;
        gap: 20px;
    }
    .mainhungry h1 {
        font-size: 35px;
    }
    .signetureheding h1 {
        font-size: 60px;
        line-height: 55px;
    }
    .burgerheading {
        font-size: 24px;
    }


    
}



@media (max-width: 460px){

    .maincontant {
        margin-bottom: 30px;
        padding: 30px;
    }

    .signetureheding h1 {
        font-size: 45px;
        gap: 10px;
        line-height: 40px;
    }
    .signetureheding h2 {
        font-size: 48px;
        line-height: 30px;
    }
    .signetureheding h4 {
        font-size: 20px;
    }

    .imgss img {
        width: 300px;
    }
    .imagelocations img {
        width: 350px;
    }
    .headinglocations{
        width: 350px;
    }
    .dui p{
        font-size: 15px;
    }
    .mainlocations{
        margin-top: 20px;
    }
    .buttanhungry{
        font-size: 10px;
        padding: 20px;
        gap: 20px;
    }
    .bottam-a{
        padding: 0 40px;
    }
    .bottam-a h2{
        font-size: 24px;
    }
    .buttanS a{
        font-size: 12px;
    }

    .buttanhungry{
        font-size: 8px;
        font-weight: 400;
    }

}